.btn {
  --bg: var(--clr-transparent);
  --bg-hover: var(--clr-transparent-shadow);
  --color: inherit;

  display: flex;
  justify-content: center;
  padding: 1rem;
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
  user-select: none;
  white-space: nowrap;
  color: var(--color);
  font-weight: var(--fw-normal);
  font-size: 1rem;
  background-color: var(--bg);
}

.btn.btn-circle {
  padding: 0.3rem;
  border-radius: 100%;
}

.btn.btn-primary {
  --bg: var(--clr-primary);
  --bg-hover: var(--clr-primary-dark);
  --color: var(--clr-light);
}

.btn:hover {
  transition: background-color 0.25s ease-in;
  background-color: var(--bg-hover);
}

.btn:active {
  animation: btn-pop 2s ease;
}

.badge {
  display: flex;
  justify-content: center;
  padding: 0.4rem 1rem;
  border-radius: 2rem;
  color: var(--clr-light);
  background-color: var(--clr-primary);
}

.link {
  cursor: pointer;
  text-decoration: underline;
  text-underline-offset: 2px;
  font-weight: var(--fw-bold);
}

.link:focus {
  border-radius: 0.25rem;
  outline-offset: 1rem;
  outline-style: dashed;
}

.input {
  padding: calc(1rem - 2px) 1.5rem;
  border-radius: 0.4rem;
  border: 2px solid var(--clr-light);
  color: var(--clr-text);
  font-size: 1rem;
  font-weight: var(--fw-normal);
}

.input:focus:invalid {
  border-color: var(--clr-error);
}
