/* ---> Button component */
.btn {
  --p: var(--lg);
  --bg: var(--gray-1);
  --radius: var(--border-radius);

  --bg-hover: var(--gray-1-shadow);
  --transition-hover: background-color var(--middle-speed);
  --scale-active: 0.9;
  --transition-active: transform var(--fast);

  display: inline-flex;
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
  border: none;
}

.btn:hover {
  transition: var(--transition-hover);
  background-color: var(--bg-hover);
}

.btn:active {
  transition: var(--transition-active);
  transform: scale(var(--scale-active));
}

.btn.btn-ghost {
  --bg: var(--transparent);
  --bg-hover: var(--transparent-shadow);
}

.btn.btn-primary {
  --bg: var(--primary);
  --bg-hover: var(--primary-shadow);
  --text: var(--on-primary);
  --weight: var(--weight-lg);
}

.btn.btn-circle {
  --radius: 100%;
}

/* ---> Badge component */
.badge {
  --p: var(--md) var(--xl);
  --bg: var(--gray-1);
  --radius: var(--xl);

  display: inline-flex;
  width: max-content;
}

.badge.badge-primary {
  --bg: var(--primary);
  --text: var(--gray-1);
}

/* --> Link component */
.link {
  --weight: var(--weight-xl);
  --decoration: underline;
  --transition: color var(--fast);

  text-decoration: var(--decoration);
  transition: var(--transition);
}

.link:hover {
  --text: var(--on-primary);
}

:is(.link:active, .link:focus) {
  --text: var(--primary-shadow);
}

/* Input component */
.input {
  --p: var(--md) var(--lg);
  --bg: var(--on-primary);
  --placeholder: var(--gray-2);
  --radius: var(--border-radius);

  display: inline-flex;
  flex: 1;
  border: var(--border);
}

.input::placeholder {
  color: var(--placeholder);
}

.input:invalid:focus {
  --text: var(--error);
  --border: var(--border-invalid);
}
