footer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

footer p {
  font-weight: var(--fw-bold);
}

footer .companies {
  display: flex;
  flex-wrap: wrap;
}

footer .companies img {
  width: 2.5rem;
  height: auto;
}
