footer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

footer p {
  font-weight: 700;
  font-size: 1em;
}

footer .companies {
  display: flex;
  flex-wrap: wrap;
}

footer .companies img {
  height: 3rem;
}
