:root {
  --primary: #372865;
  --background: #f6f9fe;
  --text: #565757;
  --text-button: #ffffff;
  --text-badge: #cbc0e5;
  --text-title: #353252;
  --font: 'Nunito', sans-serif;
  --icon-badge: #dddfe7;
  --border: 1px solid #e3e3e3;
}

