:root {
  --purple-1: #372865;
  --purple-2: #281d49;
  --purple-3: #353252;
  --white-1: #ffffff;
  --white-2: #f6f9fe;
  --gray-1: #e3e3e3;
  --gray-2: #dddfe7;
  --gray-3: #c0c4d3;
  --gray-4: #b5b6b7;
  --gray-5: #565757;
  --red-1: #f03248;
  --transparent: transparent;
  --transparent-shadow: #0001;
  --font: "Nunito", sans-serif;

  height: 100vh;
  font: 16px var(--font);
}

* {
  box-sizing: border-box;
}
