:root {
  --sm: 0.5rem;
  --md: 1rem;
  --lg: 1.5rem;

  --slow: 200ms ease-in-out;
  --middle-speed: 150ms ease-in;
  --fast: 100ms ease-in-out;

  --weight-sm: 400;
  --weight-md: 500;
  --weight-lg: 600;

  --primary: #372865;
  --primary-shadow: #281d49;
  --on-primary: #ffffff;
  --background: #f6f9fe;
  --error: #f03248;

  --text: #565757;
  --text-title: #353252;
  --font: "Nunito", sans-serif;

  --border: 1px solid #e3e3e3;
  --border-invalid: 2px solid var(--error);
  --border-radius: 0.2rem;

  --gray-1: #dddfe7;
  --gray-1-shadow: hsl(228, 17%, 79%);

  --gray-2: #b5b6b7;

  --transparent: transparent;
  --transparent-shadow: #0001;

  height: 100vh;
}

* {
  box-sizing: border-box;
}

*:focus {
  outline: 0.15rem solid var(--primary);
  outline-offset: 0.15rem;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  min-height: 100%;

  margin: 0 8rem;
  padding: 2rem 0;

  color: var(--text);
  font-family: var(--font);

  background-color: var(--background);
}

:is(p, h1, h2, h3, h4, h5, h6) {
  font-weight: var(--weight-md);
  margin: 0;
}

a {
  text-decoration: none;
}
