header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-menu ul {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.header-menu .btn {
  width: 100%;
}
