.loader {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 100;
  background-color: var(--clr-background);
}

.loader .loader-icon {
  width: 3rem;
  height: 3rem;
  animation: spin 1.6s infinite ease-in-out;
}
