@media screen and (min-width: 640px) {
  :root {
    font-size: 24px;
  }

  .container {
    padding: 3rem 2.5rem;
  }

  form {
    flex-wrap: nowrap;
  }

  form .btn {
    width: max-content;
  }
}
