@media screen and (min-width: 1280px) {
  :root {
    font-size: 16px;
  }

  .container {
    padding: 4rem 6rem;
    max-height: 1024px;
    max-width: 1280px;
  }

  .great-title {
    font-size: 3rem;
  }

  main > div {
    text-align: left;
    align-items: baseline;
  }

  form {
    width: 58%;
  }

  .illustration {
    display: block;
  }
}

@media screen and (min-width: 1536px) {
  .illustration {
    max-height: 45%;
  }
}
